* {
	margin: 0;
	padding: 0;
	background-color: black;
}

h1 {
	margin: 0 auto;
	margin-top: 150px;
	text-align: center;
	font-size: 700%;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: transparent;
	letter-spacing: 2px;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(
		92deg,
		rgb(243, 38, 38),
		rgb(243, 243, 38),
		rgb(38, 243, 38),
		rgb(38, 243, 243),
		rgb(38, 38, 243),
		rgb(243, 38, 243),
		rgb(243, 38, 38)
	);
	-webkit-background-clip: text;
	background-clip: text;
	animation: animate 60s linear infinite;
	background-size: 1000%;
}

@keyframes animate {
	0% {
		background-position: 0% 100%;
	}

	50% {
		background-position: 100% 0%;
	}

	100% {
		background-position: 0% 100%;
	}
}
