<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@100;400;500;700&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"></script>
<link rel="stylesheet" href="/footer.css">


<div class="line"></div>


<div class="me">
    <img id="animoji" src="/resources/I.png" alt="My Animoji">
    <h1>Mihir Neal</h1>
    <h2>I write on Space and Technology that'll change the world as we know it.</h2>
    <div class="cred">
        <a  href="mailto: mihir.neal@icloud.com"><h3 id="mail">Email: mihir.neal@icloud.com</h3></a> 
        <a  href="https://twitter.com/mihirneal"><h3 id="twitter">Twitter: @mihirneal</h3></a> 
    </div>
</div> 




<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>