<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mihir Neal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"></script>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>

<!-- <==================    NAVBAR    ==================> -->


            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
                        <a href="/" class="navbar-brand">MN</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-nav-demo">
                        <ul class="nav navbar-nav navbar-right">
                                <li><a href="/journal" id="nav-btn">Journal</a></li>
                        </ul>
                    </div>
                </div>
            </nav>



<!-- <==================    JUMBOTRON    ==================> -->



<div class="container">
    <div class="jumbotron animated fadeInUp">
        <h1>
            Hey, I am Mihir!
        </h1>
    </div>

    <div class="row">
        <div class="col-sm-4 adj animated fadeIn" id="adj-one">
            <h2>Technology Enthusiast.</h2>
        </div>

        <div class="col-sm-4 adj animated fadeIn" id="adj-two">
            <h2>Rocket Aficionado.</h2>
        </div>
        <div class="col-sm-4 adj animated fadeIn" id="adj-three">
            <h2>Journalist.</h2>
        </div>

        <div class="col-sm-12 line-two">
            <h2 id="and" class="animated fadeIn">&</h2>
            <h2 id="special" class="animated fadeIn">Determined to expand the reaches of Humanity to <span id="mars">Mars</span> and Beyond. </h2>
        </div>
    </div>


<!-- <==================    FOOTER    ==================> -->

<div class="footer">
  <a href="https://twitter.com/MihirNeal" class="twitter_icon">
      <img src="https://img.icons8.com/color/48/000000/twitter.png"/>
  </a>
  <a href="mailto: hi@mihirneal.com" class="mail">
      <img src="https://img.icons8.com/color/48/000000/email.png"/>
  </a>
</div>

            <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>