<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Journal | Mihir Neal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"></script>
        <link rel="stylesheet" href="/journal.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
              </button>
                    <a href="/" class="navbar-brand">MN</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-nav-demo">
                    <ul class="nav navbar-nav navbar-right">
                        
                            <li><a href="/journal" id="nav-btn">Journal</a></li>
                        
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="jumbotron">
                <h1>
                    My Journal.
                </h1>
            </div>
            <div class="row">
                <!-- <div class="col-md-6 col-sm-12">
                    <a href="https://www.nasaspaceflight.com/2020/08/demo2-splashdown-in-gulf/">
                        <img src="/resources/header image 14.png" alt="Crew Dragon Endeavour splashing down.">
                        <h2>NSF with Chris Gebhardt: Demo-2 safely returns Bob and Doug to Earth to conclude historic start to new Commercial Era. </h2>
                    </a>
                </div> -->
                <div class="col-md-6 col-sm-12">
                    <a href="https://www.nasaspaceflight.com/2020/08/nrol-44-stacked-nssl-awards/">
                        <img src="/resources/header image 15.jpg" alt="ULA and SpaceX won the NSSL contract">
                        <h2>NSF with Joseph Navin: Payload stacked for NROL-44; ULA, SpaceX win NSSL awards. </h2>
                    </a>
                </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <a href="https://www.nasaspaceflight.com/2020/08/demo2-splashdown-in-gulf/">
                        <img src="/resources/header image 14.png" alt="Crew Dragon Endeavour splashing down.">
                        <h2>NSF with Chris Gebhardt: Demo-2 safely returns Bob and Doug to Earth to conclude historic start to new Commercial Era. </h2>
                    </a>
                </div>
                <div class="col-md-6 col-sm-12">
                    <a href="https://www.nasaspaceflight.com/2020/07/solar-orbiter-reveals-pics-science-sun/">
                        <img src="/resources/header image 13.jpg" alt="ESA's Solar Orbiter">
                        <h2>NSF: Solar Orbiter reveals closest pictures, new science of the Sun. </h2>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <a href="https://www.nasaspaceflight.com/2020/07/esa-ariane-6-second-half-2021/">
                        <img src="/resources/header image 12.jpg" alt="ESA's upcoming launcher: Ariane 6.">
                        <h2>NSF: ESA delays Ariane 6 launch to the second half of 2021. </h2>
                    </a>
                </div>
                <div class="col-md-6 col-sm-12">
                    <a href="https://www.nasaspaceflight.com/2020/06/canadarm3-to-support-gateway/">
                        <img src="/resources/header image 11.jpg" alt="Canadarm3 on NASA Gateway Lunar Space Station">
                        <h2>NSF: Canadarm3 to support Lunar Gateway space station. </h2>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <a href="https://www.nasaspaceflight.com/2020/06/bose-einstein-condensate/">
                        <img src="/resources/header image 10.jpg" alt="ISS from Space Shuttle Atlantis">
                        <h2>NSF: Station marks milestone with creation of fifth state of matter in space. </h2>
                    </a>
                </div>
                <div class="col-md-6 col-sm-12">
                    <a href="https://www.nasaspaceflight.com/2020/06/vulcan-2021-moon-flight/">
                        <img src="/resources/header image 9.jpg" alt="ULA's Vulcan">
                        <h2>NSF: Vulcan on track as ULA eyes early-2021 test flight to the moon. </h2>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <a href="/journal/8/SpaceX_and_NASA_launch_Behnken_and_Hurley_to_International_Space_Station">
                        <img src="/resources/header image 8.jpg" alt="Crew Dragon Spacecraft">
                        <h2>Crew Dragon Endeavour takes flight: SpaceX and NASA launch Behnken and Hurley to International Space Station.</h2>
                    </a>
                </div>
                <div class="col-md-6 col-sm-12">
                    <a href="/journal/7/SpaceX_becomes_the_first_private_company_to_have_a_NASA_crew_certified_spacecraft">
                        <img src="/resources/header image 7.jpg" alt="FRR being held at JSC">
                        <h2>SpaceX becomes the first private company to have a NASA crew certified spacecraft.</h2>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <a href="/journal/6/ULA_workhorse_rocket_Atlas_V_launches_US_Space_Force_X37B_secret_spaceplane_into_orbit">
                        <img src="/resources/header image 6.jpg" alt="USSF-7; Atlas V from SLC-41">
                        <h2>ULA’s workhorse rocket Atlas V launches US Space Force’s X-37B secret spaceplane into orbit.</h2>
                    </a>
                </div>
                <div class="col-md-6 col-sm-12">
                    <a href="/journal/5/Meet_SpaceX's_new Astrovan_A_Tesla_Model_X">
                        <img src="/resources/header image 5.jpg" alt="SpaceX's Tesla Model x">
                        <h2>Meet SpaceX's Self-Driving Astrovan: A Tesla Model X.</h2>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <a href="/journal/4/SpaceX_will_launch_Planet_Labs'_imaging_satellites_under_their_Smallsat_Rideshare_program">
                        <img src="/resources/header image 4.jpg" alt="Falcon 9 from SLC-40">
                        <h2>SpaceX will launch Planet Labs' imaging satellites under their Smallsat Rideshare program.</h2>
                    </a>
                </div>
                <div class=" col-md-6 col-sm-12">
                    <a href="/journal/3/SpaceX_Starship_prototype_SN4_passes_the_second_round_of_Cryogenic_test">

                        <img src="/resources/header image 3.jpg" alt="Starship SN4">
                        <h2>SpaceX Starship prototype SN4 passes the second round of Cryogenic test.</h2>
                    </a>
                </div>
    
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <a href="/journal/2/NASA_and_SpaceX_on_track_to_launch_US_astronauts_for_the_first_time">
                        <img src="/resources/header image 2.jpg" alt="Crew Dragon at KSC">
                        <h2>NASA and SpaceX on track to launch US astronauts for the first time since 2011.</h2>
                    </a>
                </div>
                <div class="col-md-6 col-sm-12">
                    <a href="/journal/1/NASA_announces_HLS_contracts">
                        <img src="/resources/header image 1.jpg" alt="HLS contracts">
                        <h2>NASA awards Blue Origin, SpaceX and Dynetics to develop lunar landers.</h2>
                    </a>
                </div>
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>