#cntr {
	background-color: rgb(43, 43, 43);
	border-radius: 50px;
	color: #c7c7c7;
	margin-bottom: 80px;
}

#cntr h1 {
	color: white;
	font-family: 'Lora', serif;
	font-size: 8vmin;
	font-weight: 500;
	margin-bottom: 40px;
}

#cntr img {
	border-radius: 50px;
	width: 100%;
	height: auto;
}

#cntr h3 {
	font-family: 'Lora', serif;
	font-size: 1.25rem;
	color: #a7a7a7;
	font-weight: 400;
	margin-top: 10px;
	margin-left: 20px;
}

#cntr h4 {
	font-family: 'Lora', serif;
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 60px;
}

#cntr h2 {
	font-family: 'Lora', serif;
	font-weight: 500;
	font-size: 1.5rem;
	margin-top: 40px;
}

#cntr p {
	font-family: "Times New Roman", "georgia", serif;
	font-weight: 300;
	font-size: 2.25rem;

	margin: 30px 0;
}

#cntr h2 span {
	color: #0080ff;
	font-weight: 400;
}
