body {
	background-color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	letter-spacing: 0.5px;
}

.articleContainer {
	margin-top: 40px;
}

.art {
	background-color: rgb(43, 43, 43);
	color: white;
	width: 23.33%;
	height: 381px;
	margin: 5%;
	float: left;
	border-radius: 50px;
}

.art img {
	width: 100%;
	height: auto;
	border-radius: 50px;
}

.art h4 {
	color: white;
	font-size: 80%;
	text-align: right;
	margin-bottom: 10px;
	margin-right: 10px;
}

.art h2 {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 150%;
	text-align: center;
}

.navigation {
	color: #f2f3f5;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
	margin-top: 20px;
}

.navbar-default .navbar-nav > li > a {
	color: #f2f3f5;
	font-size: 20px;
}

navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	color: #0080ff;
	transition: color 0.5s;
}

.navbar-default .navbar-toggle {
	border-color: #f2f3f5;
}

.navbar-default .navbar-toggle:hover {
	border-color: #f2f3f5;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #f2f3f5;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: #0080ff;
	transition: background-color 0.5s;
}

.navbar-default .navbar-brand {
	color: #f2f3f5;
	font-size: 50px;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
	color: #0080ff;
	transition: color 0.5s;
}

.heading {
	animation-iteration-count: 1;
	animation-duration: 2s;
}

#nav-btn:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #0080ff;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
#nav-btn:hover:after {
	width: 100%;
	left: 0;
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}

.line {
	width: 100%;
	height: 50px;
	background-color: #0080ff;
	margin-bottom: 0;
}

.me {
	width: 70%;
	margin: 15%;
	margin-top: 40px;
	height: auto;
	padding: 5%;
	padding-bottom: 2%;
	padding-top: 2%;
	color: white;
	float: right;
	background-color: rgba(0, 0, 0, 0.514);
	border-radius: 50px;
}

#animoji {
	float: left;
	width: 15%;
	border-radius: 90px;
	margin-right: 20px;
	margin-left: 40px;
	margin-top: 10px;
}

.me h1 {
	font-size: 200%;
}

.me h2 {
	font-size: 120%;
	margin-left: 16.5%;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: transparent;
	color: white;
	text-align: center;
}

.twitter_icon {
	margin-right: 50px;
}

.mail {
	margin-left: 50px;
}
