body {
	background-image: url("resources/mars final.png");
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	letter-spacing: 0.5px;
}

h1 {
	margin: 0 auto;
	margin-top: 75px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	letter-spacing: 2px;
	color: transparent;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(
		92deg,
		rgb(243, 38, 38),
		rgb(243, 243, 38),
		rgb(38, 243, 38),
		rgb(38, 243, 243),
		rgb(38, 38, 243),
		rgb(243, 38, 243),
		rgb(243, 38, 38)
	);
	-webkit-background-clip: text;
	background-clip: text;
	animation: animate 60s linear infinite;
	background-size: 1000%;
}

.navigation {
	color: #f2f3f5;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
	margin-top: 20px;
}

.navbar-default .navbar-nav > li > a {
	color: #f2f3f5;
	font-size: 20px;
}

navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	color: #0080ff;
	transition: color 0.5s;
}

.navbar-default .navbar-toggle {
	border-color: #f2f3f5;
}

.navbar-default .navbar-toggle:hover {
	border-color: #f2f3f5;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #f2f3f5;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: #0080ff;
	transition: background-color 0.5s;
}

.navbar-default .navbar-brand {
	color: #f2f3f5;
	font-size: 50px;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
	color: #0080ff;
	transition: color 0.5s;
}

.heading {
	animation-iteration-count: 1;
	animation-duration: 2s;
}

.jumbotron {
	background: transparent;
}

.jumbotron h1 {
	font-size: 12vmin;
	margin-top: 25px;
}

h2 {
	font-weight: 300;
	font-size: 5vmin;
	text-align: center;
}

.line-two {
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
}

.adj {
	animation-iteration-count: 1;
	animation-duration: 3s;
	color: #f2f3f5;
}

#adj-one {
	animation-delay: 1s;
}

#adj-two {
	animation-delay: 2s;
}

#adj-three {
	animation-delay: 3s;
}

#and {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	color: #f2f3f5;
	animation-delay: 4s;
	animation-iteration-count: 1;
	animation-duration: 3s;
}

#special {
	margin-top: 1%;
	color: #f2f3f5;
	animation-delay: 5s;
	animation-iteration-count: 1;
	animation-duration: 3s;
}

#adj-one:hover {
	color: #0080ff;
	transition: color 0.5s;
}

#adj-two:hover {
	color: #0080ff;
	transition: color 0.5s;
}

#adj-three:hover {
	color: #0080ff;
	transition: color 0.5s;
}

#and:hover {
	color: #0080ff;
	transition: color 0.5s;
}

#special:hover {
	color: #0080ff;
	transition: color 0.5s;
}

#mars {
	color: #f3714d;
}

#nav-btn:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #0080ff;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
#nav-btn:hover:after {
	width: 100%;
	left: 0;
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}

@keyframes animate {
	0% {
		background-position: 0 100;
	}
	50% {
		background-position: 100% 0;
	}
	100% {
		background-position: 0 100;
	}
}
